@import "tailwindcss";

@font-face {
  font-family: 'GerbilFont';
  src: url('/fonts/gerbil.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gerbil: "GerbilFont", sans-serif;
  --font-display: "Poppins", sans-serif;

  --color-brand: oklch(0.62 0.19 256.79);
  --color-accent: oklch(0.77 0.15 150);

  --breakpoint-3xl: 1920px;
}

@layer base {
  body {
    @apply font-gerbil;
   
  }

  html {
    scroll-behavior: smooth;
    background-color: whitesmoke;
  }
}

@layer components {
  .content-wrapper {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}